# About.

This notebook stores some of my lovely codes that i found it useful for daily usage but quite hard to remember and recreate from scratch. The codes mostly for preprocessing things, hope it helps for anyone go around this repo. The code below sometimes using queryGrab UDF code so, if you're intended to reproduce some of code below, dont hesitate to install the packages first to your environment! :D

# Map

`.map()` is the itereator object the function is to iterate all element then map into desibreable value. In this case the function of `.map()` function is lie `CASE WHEN` function in SQL.

In [1]:
import pandas as pd

In [3]:
# if you have a columns that contain string array belows, and you want to create new columns indicate what kind type 
# of vehicle they use, we can use `.map()` function over the series of the pandas DataFrame.

string_value = {
    '[{"ID":339,"Vechicle":2}]': 'Motor',
    '[{"ID":440,"Vechicle":1}]': 'Car',
    '[{"ID":338,"Vechicle":3]': 'Bicycle'    
}

In [7]:
df1 = pd.DataFrame({'Name':['Samuel', 'Hopper', 'Eleven', 'Dustin','Mike', 'Max'],
             'string_value': [
                 '[{"ID":339,"Vechicle":2}]' ,
                 '[{"ID":440,"Vechicle":1}]' ,
                 '[{"ID":338,"Vechicle":3]'  ,
                 '[{"ID":339,"Vechicle":2}]' ,
                 '[{"ID":440,"Vechicle":1}]' ,
                 '[{"ID":338,"Vechicle":3]']
             }, index= [x for x in range(0,6)])

In [11]:
df1['vehicle_type'] = df1.string_value.map(string_value)
df1

     Name               string_value vehicle_type
0  Samuel  [{"ID":339,"Vechicle":2}]        Motor
1  Hopper  [{"ID":440,"Vechicle":1}]          Car
2  Eleven   [{"ID":338,"Vechicle":3]      Bicycle
3  Dustin  [{"ID":339,"Vechicle":2}]        Motor
4    Mike  [{"ID":440,"Vechicle":1}]          Car
5     Max   [{"ID":338,"Vechicle":3]      Bicycle

# Multiprocessing

## Multiprocessing by rows

The idea was when you have thousand of thousand of rows and you have to process it as fast as you could, and your manager looking behind you while you're coding, I hope this code could helps. what you have to do is actually create a functions like below:

In [1]:
import random
import pandas as pd
from math import pi
import queryGrab as qgr

In [2]:
# create a dataframe contain diameter, height, pi, and 0.5, assume we want to create a calculation 
# about tube volume in this dataframe in each rows.
d = [random.randint(0,1000) for x in range(0,1000*1000)]
t = [random.randint(0,100) for x in range(0,1000*1000)]

tube_df= pd.DataFrame({'diameter':d,
              'height':t})

tube_df['pi']= pi
tube_df['half']= 0.5
tube_df_par= tube_df.copy()
tube_df.head()

   diameter  height        pi  half
0       725      77  3.141593   0.5
1       385      93  3.141593   0.5
2       873      51  3.141593   0.5
3        41      19  3.141593   0.5
4       594      92  3.141593   0.5

In [3]:
def proc1(x):
    r= x['pi']*(x['diameter']/x['half'])**2*x['height']
    # print(r)
    
    return r

In [4]:
# regular mapping demos
# the regular mapping is about 37 seconds, while ....
tube_df['volume']= tube_df.apply(proc1, axis=1)

In [5]:
# parallel demos
# parallelize only took almost half of them, it also depends on how many cores we have
# in this scenario I use late macbook pro 2015 with only 4 cores.
res= qgr.parallelize_on_rows(tube_df_par, proc1)
tube_df['volume']= res`